@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Inconsolata", monospace; */
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Cousine", monospace; */
}

a,
p {
  line-height: 1.5em;
  font-family: "Inconsolata", monospace;
  margin: 2.2em 0;
}
